aside.aside 
    a(href="index.html").logo 
        img(src="./assets/img/logo.png", alt="logo")
    .title MEDICINE
    nav.nav
        a(href="#").active
            img(src="./assets/img/Vector.svg", alt="home")
            | Bosh sahifa
        a(href="#")
            img(src="./assets/img/palata.svg", alt="rooms")
            | Palatalar
        a(href="#")
            img(src="./assets/img/doctors.svg", alt="doctors")
            | Shifokorlar
        a(href="#")
            img(src="./assets/img/department.svg", alt="department")
            | Bo'limlar
        a(href="#")
            img(src="./assets/img/bemor.svg", alt="patients")
            | Bemorlar