header.header 
    form.search
        img(src="./assets/img/search.svg", alt="search icon")
        input(type="text",placeholder="Qidiruv") 
    .avatar 
        img(src="assets/img/circle.png", alt="avatar image")