.modal 
    .modal__box
        h4.text-center.mb-20 Yangi bemorni ro'yxatdan o'tkazish 
        .step 1
        .part.mt-10.text-center.mb-10 Shaxsiy ma'lumotlar 
        .row 
            .col-6.col-sm-12.mb-20
                input.input(type="text", placeholder="Ism-familiya")
            .col-6.col-sm-12.mb-20
                input.input(type="text", placeholder="Ism-familiya")
            .col-6.col-sm-12.mb-20
                select.input(name="")
                    option(value="") Tug'ilgan hudud 
                    option(value="") Toshkent 
                    option(value="") Farg'ona 
            .col-6.col-sm-12.mb-20
                input.input(type="text", placeholder="Ism-familiya")
            .col-12 
                textarea.input(name="", cols="30", rows="10") 
        .modal__footer.mt-20
            button.btn.danger Bekor qilish 
            button.btn.success Keyingi bo'lim