extends ../layouts/default.pug

block content   
    .row
        .col-3.col-md-6.col-sm-12
            +card
        .col-3.col-md-6.col-sm-12
            +card
        .col-3.col-md-6.col-sm-12
            +card
        .col-3.col-md-6.col-sm-12
            +card
    include ../blocks/table/box.pug

