extends ../layouts/default.pug


block content 
    .view  
        .view__top 
            img(src="./assets/img/pict.jpg", alt="picture")
            .view__content 
                .view__head.mb-20 
                    h4 Kamolova Aziza 
                    .view__control 
                        button: img(src="./assets/img/edit.svg", alt="edit icon")
                        button: img(src="./assets/img/remove.svg", alt="delete icon")
                table.info 
                    tr 
                        td Tashrif sanasi   
                        td 26/03/2023
                        td Chiqish sanasi: 
                        td 26/06/2023
                    tr 
                        td Tashrif sanasi   
                        td 26/03/2023
                        td Chiqish sanasi: 
                        td 26/06/2023
                    tr 
                        td Murojaat sababi:
                        td(colspan="3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nostrum aliquid distinctio harum quis earum quia facilis dolor officia porro, blanditiis, rerum rem! Illo, placeat reiciendis temporibus quasi porro necessitatibus!
        .view__tables
            .title Shaxsiy ma'lumotlar
            table.info 
                tr 
                    td Tashrif sanasi   
                    td 26/03/2023
                    td Chiqish sanasi: 
                    td 26/06/2023
                tr 
                    td Chiqish sanasi: 
                    td 26/06/2023
                    td Tashrif sanasi   
                    td 26/03/2023
                    td Chiqish sanasi: 
                    td 26/06/2023
               
            